In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
df_spx_ftse_00_10 = pd.read_csv("C:\\Users\\Zachary_B\\Desktop\\data sci bootcamp\\Data Visualization\\data set\\line_chart_data.csv")

In [4]:
df_spx_ftse_00_10

            Date   GSPC500   FTSE100
0       1/3/2000  0.003264  0.000000
1       1/4/2000 -0.009549  0.000000
2       1/5/2000 -0.038345 -0.038137
3       1/6/2000  0.001922 -0.019502
4       1/7/2000  0.000956 -0.013571
...          ...       ...       ...
2865  12/27/2010 -0.002282  0.002135
2866  12/28/2010  0.003539  0.000000
2867  12/29/2010 -0.000254  0.000000
2868  12/30/2010  0.000524 -0.002080
2869  12/31/2010 -0.002128 -0.004236

[2870 rows x 3 columns]

In [5]:
df_spx_ftse_00_10["new_date"] = pd.to_datetime(df_spx_ftse_00_10["Date"])

In [6]:
df_spx_ftse_00_10["new_date"]

0      2000-01-03
1      2000-01-04
2      2000-01-05
3      2000-01-06
4      2000-01-07
          ...
2865   2010-12-27
2866   2010-12-28
2867   2010-12-29
2868   2010-12-30
2869   2010-12-31
Name: new_date, Length: 2870, dtype: datetime64[ns]

In [ ]:
labels = ["S&P 500", "FTSE 100"]
plt.figure(figsize = (20, 8))
plt.plot(df_spx_ftse_00_10["new_date"], df_spx_ftse_00_10["GSPC500"])
plt.plot(df_spx_ftse_00_10["new_date"], df_spx_ftse_00_10["FTSE100"])
plt.title("S&P vs FTSE Returns (2000 - 2010)", fontsize = 14, fontweight = "bold")
plt.ylabel("Returns")
plt.xlabel("Date")
plt.legend(labels = labels, fontsize = "large")
plt.show()